@page
@model Hillerød_Sejlklub_website.Pages.BlogModel
@{
	
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<!DOCTYPE html>

<html>

<h1 class="text-center">kig på blogs her</h1>
<p class="text-center">se hvad folk er op til</p>


<body>
</body>


</html>

