@page
@model Hillerød_Sejlklub_website.Pages.Index1Model
@{
    ViewData["Title"] = "Booking";
}
<h2>Booking og fejlmelding af både</h2>
<!DOCTYPE html>
<html>

 <body>
    <div class="row">
        <!--PROFILE CARDS FOR MEMBERS START-->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/Photos/sejlbådNr.1.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Hende Majestæt</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                        <label class="form-check-label">Rorpind knækket</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                        <label class="form-check-label">Bomnedhal knækket</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                        <label class="form-check-label">Motorfejl</label>
                    </div>
                    <label for="comment">Andet:</label>
                    <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
                    <br />
                    <a href="#" class="btn btn-primary">Book</a>      <a href="#" class="btn btn-primary">Fejlmeld</a>
                </div>
                </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="~/Photos/Båd2.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Fregatten</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                                <label class="form-check-label">Rorpind knækket</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                                <label class="form-check-label">Bomnedhal knækket</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                                <label class="form-check-label">Motorfejl</label>
                            </div>
                            <label for="comment">Andet:</label>
                            <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
                            <br />
                            <a href="#" class="btn btn-primary">Book</a>      <a href="#" class="btn btn-primary">Fejlmeld</a>
                        </div>
                        </div>
                        </div>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="~/Photos/Båd3.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Daddy Yankee</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                                <label class="form-check-label">Rorpind knækket</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                                <label class="form-check-label">Bomnedhal knækket</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check2" name="option2" value="something" checked>
                                <label class="form-check-label">Motorfejl</label>
                            </div>
                            <label for="comment">Andet:</label>
                            <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
                            <br />
                            <a href="#" class="btn btn-primary">Book</a>      <a href="#" class="btn btn-primary">Fejlmeld</a>
                        </div>
        </div>
    </div>
</body>


</html>



