@page
@model Hillerød_Sejlklub_website.Pages.Index1Model
@{
    ViewData["Title"] = "Booking";
}
<h2>Book din båd her</h2>
<!DOCTYPE html>
<html>
<<<<<<< HEAD
<img src="/photos/sejlbådnr.1.png"/>
=======
    <body>
<img src="c:\users\anas2\source\repos\hiller-d_sejlklub_website(v.2)\hillerød_sejlklub_website\photos\sejlbådnr.1.png" alt="boat" width="600" height="633" />
</body>
>>>>>>> 626b8785cd80438f414b0d7a94fea9e2aa757919
</html>



