@page
@model Hillerød_Sejlklub_website.Pages.Index1Model
@{
    ViewData["Title"] = "Booking";
}
<h2>Book din båd her</h2>
<!DOCTYPE html>
<html>

<img src="/photos/sejlbådnr.1.png" width="300" height="175">

 <body>
</body>

</html>



