@page
@model Hillerød_Sejlklub_website.Pages.Index1Model
@{
    ViewData["Title"] = "Booking";
}
<h2>Book din båd her</h2>
<!DOCTYPE html>
<html>
<img src="c:\users\anas2\source\repos\hiller-d_sejlklub_website(v.2)\hillerød_sejlklub_website\photos\sejlbådnr.1.png" alt="boat" width="500" height="333" />
</html>



